<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Wayfinder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8BE2214E1D3C4FE2006FB1C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BE221621D3C4FE3006FB1C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BE2216D1D3C4FE3006FB1C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
